	<div>
		<h1>Cuboh for all</h1>
		<ul>
		 	<li><a href="/food">/food</a> - order goods </li>
		 	<li><a href="/feedback/dates">/feedback/dates</a> - dates to filter out reviews</li>
		</ul>
	</div>
    {{> footer}}

